cache="/home/bc/workspace/PipeFeed/test/cache"
output="/home/bc/workspace/PipeFeed/test/output"

feeds=["krugman"]

krugman {
	url="http://krugman.blogs.nytimes.com/feed/"
	
	transforms=["fetchfull","regexsnip"]
	
	regexsnip {
		start_re="<div class=\"entry-content\">"
		end_re="</div><!-- end .entry-content -->"
	}
}